@page "/payslip/view"

@inherits BitPageBase

<PageTitle>
    @PageTitles.PaySlipPage.Title
</PageTitle>

<main class="payslip-page">
    <article>
        <!--    HEADER            -->
        <div class="Header">
            <div class="header_title">
                <div class="disply_Fle" style="margin-top: -5px">
                    <p class="margin_left_20">Personnel No</p>
                    <p style="margin-left: 100px">:000000</p>
                </div>
                <div class="disply_Fle" style="margin-top: -15px">
                    <p class="margin_left_20">Name & Surname</p>
                    <p style="margin-left: 75px">:Name</p>
                </div>
                <div class="disply_Fle" style="margin-top: -20px">
                    <p class="margin_left_20">Currency</p>
                    <p style="margin-left: 130px">:Iranian Rials</p>
                </div>
            </div>
            <div class="header_logo">
                <img src="@ImageUrls.Layout.AtaAirlinesLogoMain" alt="LOGO" />
            </div>
        </div>
        <!--   Main Content              -->
        <div class="disply_Fle" style="height: 750px">
            <div class="left_side">
                <!--LEFT SIDE-->
                <div style="text-align: center">
                    <p>SALARY PAY SLIP FPR MONTH 2023</p>
                    <p>
                        @PaySlipData.SerializeToJson()
                    </p>
                </div>

                <div>
                    <table>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <p>INCOME</p>
                            </td>

                            <td colspan="2" style="text-align: center">
                                <p>SALARY</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Basic Salary</td>
                            <td class="td_width"></td>
                            <td>SSo</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Transportation All.</td>
                            <td class="td_width"></td>
                            <td>Supplementary Insurance</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Attraction All.</td>
                            <td class="td_width"></td>
                            <td>Supplementary Life Insurance</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Grocery All.</td>
                            <td class="td_width"></td>
                            <td>Provident Fund Membership</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Housing All</td>
                            <td class="td_width"></td>
                            <td>Loan</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Responsibility All</td>
                            <td class="td_width"></td>
                            <td>Rounding (Current Month)</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>License All.</td>
                            <td class="td_width"></td>
                            <td>Tax</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Flight Time All.</td>
                            <td class="td_width"></td>
                            <td>Advanced Payment</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>FDP All. (0-40 hrs)</td>
                            <td class="td_width"></td>
                            <td>Total Loan Installments</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>FDP All. (40-60 hrs)</td>
                            <td class="td_width"></td>
                            <td>Other Deductions</td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>FDP All. (+60 hrs)</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Praedium* (Residence) All.</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>General Residence All.</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>CEO Gratuity</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Other Payments</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Adjustments</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Efficiency Bonus</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Last month Rounding</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Annual Bonus</td>
                            <td class="td_width"></td>
                            <td></td>
                            <td class="td_width"></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td class="td_width"></td>
                            <td>Total</td>
                            <td class="td_width"></td>
                        </tr>
                    </table>
                    <p style="
                            margin-left: 10px;

                            font-size: 15px;
                        ">
                        • Praedium refers to the overnight residence of flight
                        crew in the city of the flight crew in the city of
                        origin or destination at the request of the company.
                    </p>
                </div>
            </div>
            <div class="right_side">
                <div>
                    <table style="margin-top: 50%">
                        <tr>
                            <td style="width: 50%">Saman Payment</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Mellat Payment</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Fund Saving</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                Total Salary & Allowances
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Total Deduction</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Mellat & Saman Payment</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Payable</td>
                            <td></td>
                        </tr>
                    </table>
                    <div>
                        <p style="margin-left: 5px">
                            • Mellat & Saman are names of Banks
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Information">
            <p>
                *THIS LEGAL FORM IS NOT VALID WITHOUT THE SEAL & SIGNATURE OF
                H.R. UNIT*
            </p>
        </div>
        <div style="display: flex; width: 100%">
            <div style="width: 50%">
                <div><p>The items listed above are approved.</p></div>
                <div><p>Sincerely</p></div>
            </div>
            <div style="width: 50%">
                <div><p>Ghazaleh Behboudi</p></div>
                <div><p>Head of H.R. office</p></div>
            </div>
        </div>
    </article>

</main>
